.xpkg/
bin
obj
packages

*.userprefs

*.userprefs

*.userprefs

*.userprefs

*.userprefs

*.xam
samples/WindowsPhone/GravatarMobile-WP-External.v11.suo

samples/.DS_Store

samples/iOS/.DS_Store

.DS_Store
